/* Main content styling for all pages */

body{
      background-image: url("../images/background-image.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
}

::selection{
      color: white;
      background-color: #4aaaa5;
}

#container{
      width: 1100px;
      margin-left: auto;
      margin-right: auto;
}

/* Header and navbar */

header{
      background-color: #ffffff;
      height:50px;
}

#name{
      display: inline-block;
      font-size: 2.5em;
      font-weight: bold;
      background-color: #4aaaa5;
      color: #ffffff;
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 10px;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
      margin-left: 60px;
}

#navbar{
      list-style-type: none;
      display: inline;
      float: right;
      padding-top: 10px;
}

#navbar li a:hover{
      background-color: #4aaaa5;
      color: white;
      border-radius: 2px;
}

#navbar li a:active{
      background-color: #777777;
      color: #4aaaa5;
}

.nav-item{
      display: inline;
      height: 100%;
      font-size: 1.25em;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-right: 2px solid #777777;
      color: #777777;
}

.nav-item:nth-child(3){
      border:none;
}

.nav-item a{
      text-decoration: none;
      text-align: center;
      color: #777777;
      padding: 19px;
}

/* Main body */

.main{
      background-image: url("../images/concrete_seamless.png");
      overflow: auto;
      border-top: 2px solid #777777;
}

.main-content{
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: #ffffff;
      width: 650px;
      border: 2px solid #dddddd;
      margin-left: 60px;
}

.main-content img{
      width: 250px;
      height: 250px;
      float: left;
      margin: 20px 25px 10px 30px;
      border: 4px solid #dddddd;
}

.main-header{
      color: #4aaaa5;
      font-size: 2em;
      font-weight: bold;
      margin: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      border-bottom: 3px solid #dddddd;

}

.main-bio{
      font-family: 'Arial', 'Helvetica', Helvetica, sans-serif;
      color: #777777;
      padding: 15px;
      line-height: 2;
}

/* Siderbar with social links */

#social{
      display: inline-block;
      text-align: center;
      margin-top: 30px;
      margin-right: 60px;
      padding-bottom: 30px;
      width: 270px;
      float: right;
      background-color: #ffffff;
      border: 2px solid #dddddd;
}

#social-header{
      text-align: center;
      color: #4aaaa5;
      font-size: 1.5em;
      font-weight: bold;
      margin: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 3px solid #dddddd;
}

#icons{
      text-align: center;
}

#icons img{
      display: inline;
      height: 60px;
      width: 60px;
      padding: 2px;
}

#icons a img:hover{
      background-color: #4aaaa5;
      border-radius: 100%;
      padding: 2px;
}

#icons a img:active{
      background-color: #777777;
}

/* Copyright footer */

footer p{
      text-align: center;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      background-color: #666666;
      color: white;
      border-top: 5px solid #4aaaa5;
      height: 50px;
      padding-top: 30px;
}

/* Styling for portfolio page  */

.port{
      width: 250px;
      height: 250px;
      float: left;
      margin: 10px 25px 10px 40px;
      border: 2px solid #dddddd;
}

#portfolio1{
      background-image: url("../images/portfolio1.jpeg");
}

#portfolio2{
      background-image: url("../images/portfolio2.jpeg");
}

#portfolio3{
      background-image: url("../images/portfolio3.jpeg");
}

#portfolio4{
      background-image: url("../images/portfolio4.jpeg");
}

#portfolio5{
      background-image: url("../images/portfolio5.jpeg");
}

.caption{
      position: relative;
      top: 190px;
      text-align: center;
      background-color: #4aaaa5;
      line-height: 200%;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
      font-size: 1.4em;
      color: white;
      padding: 5px;
}

.caption:hover{
      background-color: black;
      color: #4aaaa5;
}

/* Styling for contact page */

input{
      border: 3px solid #dddddd;
      padding: 12px;
      margin: 30px 0px 30px 30px;
      font-size: 18px;
      display: block;
}

input:focus{
      background-color: #dddddd;
}

input[type="name"] {
      width: 75%;
}

input[type="email"] {
      width: 75%
}

input[type="message"] {
      width: 75%;
      padding-bottom: 100px;
}

input[type="submit"] {
      background: #4aaaa5;
      color: white;
      width: 25%;
}

input[type="submit"]:hover{
      background-color: white;
      color: #4aaaa5;
}

input[type="submit"]:active{
      background-color: black;
      color: white;
}

.main-content .label{
      position: relative;
      left: 30px;
      top: 20px;
      color: #777777;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 1.25em;
}
